<!DOCTYPE html>
<html>
  <head>
    <title>OpensourceTable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('favicon.ico') %>"/>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
    </script>
    <script
      src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"
      data-search-pseudo-elements
    ></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
